div.row
	div.span10.columns
		h2.heading Page list
		table.zebra-striped#sortTableExample
			thead
				tr
					th.blue #
					th.blue first name
					th.blue last name
				tr
			tbody
				tr
					td example1
					td example1
					td example1
				tr
					td example2
					td example2
					td example2		
	div.span6.columns
		include ./sidebar